streamlit
google-generativeai
python-dotenv
langchain
PyPDF2
chromadb
faiss-cpu
langchain_google_genai
flask
xhtml2pdf
Flask-WTF
WTForms
email-validator
bootstrap-flask
flask-login

numpy
nltk
rouge
scikit-learn
sentence-transformers
